{% load static %}

<footer class="contacts_wrap bg_tint_dark contacts_style_dark">
				<div class="content_wrap">
					<div class="logo">
						<a href="index.html">
							<img src="{% static 'images/logo-footer.png' %}%" alt="">
						</a>
					</div>
					<div class="contacts_address">
						<address class="address_right">
							Phone: 1.800.123.4567<br>
							Fax: 1.800.123.4566
						</address>
						<address class="address_left">
							San Francisco, CA 94102, US<br>
							1234 Some St
						</address>
					</div>
					<div class="sc_socials sc_socials_size_big">
						<div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_facebook icons">
								<span class="icon-facebook"></span>
							</a>
						</div>
						<div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_dribbble icons">
								<span class="icon-dribbble"> </span>
							</a>
						</div>
						<div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_gplus icons">
								<span class="icon-gplus"> </span>
							</a>
						</div>
						<div class="sc_socials_item">
							<a href="#" target="_blank" class="social_icons social_tumblr icons">
								<span class="icon-tumblr"> </span>
							</a>
						</div>
					</div>
				</div>
			</footer>
