{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/x-icon" href="images/favicon.ico"/>
	<title>The Lucky Pint &#8211; Irish tavern | Irish Tavern &#8211; pub HTML Theme</title>
	<link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/swiper/idangerous.swiper.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/mediaelement/css/mediaelementplayer.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/shortcodes.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/core.animation.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/skin.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/responsive.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/custom/core.messages/core.messages.css' %}" type='text/css' media='all'/>

	<link rel='stylesheet' href="{% static 'custom_tools/css/front.customizer.css' %}" type='text/css' media='all'/>

</head>

  {%block content%}

    {%endblock%}


	<script data-cfasync="false" src="{% static 'cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/jquery-migrate.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/_main.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/_form_contact.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/superfish.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.utils.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.init.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/shortcodes.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/vendor/core.min.js"></script>
	<script type='text/javascript' src="{% static 'js/vendor/widget.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/accordion.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/tabs.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/effect.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/effect-fade.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/diagram/chart.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.messages/core.messages.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/mediaelement/mediaelement-and-player.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/swiper/idangerous.swiper-2.7.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/swiper/idangerous.swiper.scrollbar-2.4.js' %}"></script>
	<script type='text/javascript' src='http://maps.google.com/maps/api/js?sensor=false'></script>
	<script type='text/javascript' src="{% static 'js/custom/core.googlemap.js' %}"></script>
	<script type='text/javascript' src="{% static 'custom_tools/js/skin.customizer.js' %}"></script>
	<script type='text/javascript' src="{% static 'custom_tools/js/front.customizer.js' %}"></script>

</body>
</html>