{% load static %}

<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="format-detection" content="telephone=no">
	<link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}%"/>
	<title>Два Перца</title>
	<link rel='stylesheet' href="{% static 'js/vendor/the-events-calendar/css/datepicker.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/the-events-calendar/css/tribe-events-full.min.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/the-events-calendar/css/tribe-events-theme.min.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/vendor/the-events-calendar/css/tribe-events-full-mobile.min.css' %}" type='text/css' media='only screen and (max-width: 768px)'/>
	<link rel='stylesheet' href="{% static 'js/vendor/the-events-calendar/css/tribe-events-theme-mobile.min.css' %}" type='text/css' media='only screen and (max-width: 768px)'/>
	<link rel='stylesheet' href="{% static 'js/vendor/swiper/idangerous.swiper.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/style.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/shortcodes.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/core.animation.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/skin.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'css/responsive.css' %}" type='text/css' media='all'/>
	<link rel='stylesheet' href="{% static 'js/custom/core.messages/core.messages.css' %}" type='text/css' media='all'/>

	<link rel='stylesheet' href="{% static 'custom_tools/css/front.customizer.css' %}" type='text/css' media='all'/>

</head>

<body class="archive body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">

	<div class="body_wrap">
		<div class="page_wrap">

			<div class="top_panel_fixed_wrap"> </div>
			{% include 'include/header.html' %}
			<div class="page_top_wrap page_top_title page_top_breadcrumbs">
				<div class="content_wrap">
					<div class="breadcrumbs">
						<a class="breadcrumbs_item home" href="{% url 'index' %}">Главная</a>
						<span class="breadcrumbs_delimiter"></span>
						<span class="breadcrumbs_item current">{{ events_id.title }}</span> 
					</div>
					<h1 class="page_title">{{ events_id.title }}</h1>
				</div>
			</div>

			<div class="page_content_wrap wrap_custom">

					<section class="content_wrap">
						<div class="container">
							<div class="row">
								<section class="post tribe_events_wrapper">
									<article class="post_content">
										<div id="tribe-events-pg-template">
											<div id="tribe-events" class="tribe-no-js">
												<div class="tribe-events-before-html"></div>
												<span class="tribe-events-ajax-loading">
													<img class="tribe-events-spinner-medium" src="{% static 'js/vendor/the-events-calendar/css/images/tribe-loading.gif' %}" alt="Loading Events"/>
												</span>
												<div id="tribe-events-content-wrapper" class="tribe-clearfix">
													<input type="hidden" id="tribe-events-list-hash" value="">
													
													<div id="tribe-events-content" class="tribe-events-list">
														<h2 class="tribe-events-page-title">
														{{ events_id.title_events }}
														</h2>
														{% for events in events_all %}
														<div class="tribe-events-loop vcalendar">
															<span class='tribe-events-list-separator-month'>
																<span>{{ events.year }}</span>
															</span>
															<div class=" vevent type-tribe_events tribe-clearfix tribe-events-category-party tribe-events-category-private   tribe-events-first">
																<h2 class="tribe-events-list-event-title entry-title summary">
																<a class="url" href="#" title="Beer Contest 2015" rel="bookmark">
																	{{ events.title }}
																</a>
																</h2>
																<div class="tribe-events-event-meta vcard">
																	<div class="author  location">
																		<div class="updated published time-details">
																			<span class="date-start dtstart">
																				{{ events.data }}
																				<span class="value-title" title="2015-07-27UTC08:00"></span>
																			</span>
																		</div>
																		<div class="tribe-events-venue-details">
																			<span class="author fn org">Lucky Pint</span>,
																			<address class="tribe-events-address">
																				<span class="adr"> </span>
																			</address>
																			<a class="tribe-events-gmap" href="#" title="Click to view a Google Map" target="_blank">+ Google Map</a>
																		</div>
																	</div>
																</div>
																<div class="tribe-events-event-image">
																	<a href="#" title="Beer Contest 2015">
																		<img src="{{ events.image.url }}" alt="" title="Beer Contest 2015"/>
																	</a>
																</div>
																<div class="tribe-events-list-event-description tribe-events-content description entry-summary">
																	<p>{{ events.description|safe }}</p>
																</div>
															</div>
														</div>
														{% endfor %}
													</div>
													<div class="tribe-clear"></div>
												</div>
												<div class="tribe-events-after-html"></div>
											</div>
										</div>
									</article>
								</section>
							</div>
						</div>
					</section>
			</div>  
			{% include 'include/footer.html' %}
		</div>  
	</div>  

	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>

	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>


	<script data-cfasync="false"   src="{% static '/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/jquery-migrate.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/_main.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/superfish.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.utils.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.init.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/shortcodes.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/custom/core.messages/core.messages.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/swiper/idangerous.swiper-2.7.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/swiper/idangerous.swiper.scrollbar-2.4.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/the-events-calendar/js/jquery.placeholder.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/the-events-calendar/js/bootstrap-datepicker.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/the-events-calendar/js/tribe-events.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'js/vendor/the-events-calendar/js/tribe-events-bar.min.js' %}"></script>
	<script type='text/javascript' src="{% static 'custom_tools/js/skin.customizer.js' %}"></script>
	<script type='text/javascript' src="{% static 'custom_tools/js/front.customizer.js' %}"></script>

</body>
</html>