{% extends 'include/homepage.html' %}
{%load static%}
{%block content%}

<body class="home page body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">
	<div class="body_wrap">
		<div class="page_wrap">

			<div class="top_panel_fixed_wrap"> </div>
						{% include 'include/header.html' %}
			<div class="page_content_wrap wrap_custom">

					<section class="">
						<div class="container">
							<div class="row">
								<div class="sc_section bg_tint_light aligncenter">
									<div class="sc_content content_wrap">
										<div class="aligncenter margin_bottom_middle">
											<h1 class="sc_title styling1 margin_bottom_small">Grid Gallery</h1>
										</div>
										<article class="myportfolio-container flat-dark" id="unstyled">
											<div id="esg-grid-4-1" class="esg-grid">
												<ul>
													{% for gallery in gallery_all %}
													<li class="filterall eg-tavern-skin-wrapper">
														<div class="esg-media-cover-wrapper">
															<div class="esg-entry-media">
																<img src="{{ gallery.image.url }}" alt="">
															</div>
															<div class="esg-entry-cover">
																<div class="esg-overlay esg-zoomback eg-tavern-skin-container" data-delay="0">
																</div>
																<div class="esg-center eg-tavern-skin-element-1-a esg-zoomfront" data-delay="0.1">
																	<a class="eg-tavern-skin-element-1 esgbox" href="{{ gallery.image.url }}">
																		<i class="eg-icon-search"></i>
																	</a>
																</div>
															</div>
														</div>
													</li>
													{% endfor %}
												</ul>
											</div>
										</article>
										<div class="clear"></div>
									</div>
								</div>
							</div>
						</div>
					</section>
			</div>  
			{% include 'include/footer.html' %}
			<div class="copyright_wrap">
				<div class="content_wrap">
					<a href="http://themeforest.net/user/axiomthemes/portfolio">Axiom</a> © 2015 All Rights Reserved.
					<a href="#">Terms of use</a> and
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>  
	</div>  
	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>
	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>
{% endblock %}