{% extends 'include/homepage.html' %}
{%load static%}
{%block content%}
<body class="home page body_style_wide article_style_stretch top_panel_style_dark top_panel_opacity_solid top_panel_below menu_right sidebar_hide bg_image_7 bg_color_1">
	<div class="body_wrap">
		<div class="page_wrap">
			<div class="top_panel_fixed_wrap"> </div>
			{% include 'include/header.html' %}
			<div class="page_content_wrap wrap_custom">
					<section class="content_wrap">
						<div class="container">
							<div class="row">
								<div class="sc_section aligncenter">
									<h1 class="sc_title sc_title_regular styling1">{{ reservation_id.title }}</h1>
									<div class="sc_section">
										<p>{{ reservation_id.description|safe }}</p>
									</div>
									<div class="columns_wrap sc_columns reservation_table_wrapper">
										{% for reservation in reservation_all %}
										<div class="column-1_4 sc_column_item sc_column_item_1 odd first">
											<a href="#">
												<figure class="sc_image sc_image_shape_square sc_image_none">
													<div class="img_with_hover">
														<img src="{{ reservation.image.url }}" alt=""
															style="width:250px; height:250px; object-fit:cover; border-radius:8px;" />
														<div class="hovered_img">
															<img src="{{ reservation.image2.url }}" alt=""
																style="width:250px; height:250px; object-fit:cover; border-radius:8px;" />
														</div>
													</div>
												</figure>
											</a>
										</div>
										{% endfor %}
								</div>
							</div>
						</div>
					</section>
			</div>  
			{% include 'include/footer.html' %}
			<div class="copyright_wrap">
				<div class="content_wrap">
					<a href="http://themeforest.net/user/axiomthemes/portfolio">Axiom</a> © 2015 All Rights Reserved.
					<a href="#">Terms of use</a> and
					<a href="#">Privacy Policy</a>
				</div>
			</div>
		</div>  
	</div>  
	<a href="#" class="scroll_to_top icon-angle-up-1" title="Scroll to top"> </a>
	<div class="preloader">
	    <div class="preloader_image"></div>
	</div>
{% endblock %}